@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(61, 14, 54, 1) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    z-index: 0;
}

header h1 {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    font-size: 5rem;
    animation: fadeIn 0.5s ease-in-out both;
    margin: 0;
}

#particles-js {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    z-index: 0;
    animation: fadeIn 0.5s ease-in-out both;
    flex-direction: column;
}

span {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.1rem;
    padding: 5px;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    width: 20rem;
    height: 120px;
    height: auto;
    border-radius: 5px;
    background-color: white;
}

form {
    margin-top: 1rem;
    height: auto;
    background-color: white;
    height: 3rem;
    border-radius: 100px;
    display: flex;
    align-items: center;
}

@media (min-width: 560px) {
    input[type="text"] {
        width: 449px;
    }
}

@media (min-width: 672px) {
    input[type="text"] {
        width: 561px;
    }
}

input[type="text"] {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 100px;
    background: transparent;
    border: none;
    outline: none;
}

input[type="text"]:focus::placeholder {
    color: transparent;
}

input[type="submit"] {
    background: url(https://raw.githubusercontent.com/gist/shanepaton/673b5ed317cbc2220d954170c4b5d81b/raw/f55f1f4c521c0cb419be3df8422b1bcdcab55dee/search.svg) no-repeat center;
    background-size: 21px 21px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    padding: 0;
    pointer-events: auto;
    height: 5rem;
    color: transparent;
    outline: none;
}

img {
    width: 20rem;
    border-radius: 5px;
}